<p id="notice"><%= notice %></p>

<%= form_tag(search_path, remote: true, id: "search_form") do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
<% end %>

  <h1>Game search</h1>
  <div id="results">
    <%= render 'results' %>
  </div>
  
  
<!--
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.view %></td>
        <td><%= game.genre %></td>
        <td><%= game.publisher_id %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<br>

<%= link_to 'New Game', new_game_path %>
